<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | <%= title%> </title>
</head>

<body>
    <h1>Home</h1>
    <h2>Your path to becoming a Node.js ninja!</h2>
    <nav>
        <div class="site-title">
            <a href="/">Blog</a>
            <p>A Blog Post</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </div>
    </nav>
    <div class="not-found content">
        <h2>OOPS, page not found</h2>
    </div>
</body>

</html>