<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | <%= title%></title>
</head>

<body>
  <% const name = 'manish'  %>

    <nav>
        <div class="site-title">
          <p> <%= name %> </p> 
            <a href="/">Blog</a>
            <p>A Blog Post</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </div>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length>0) {%>
        <% blogs.forEach(blog => { %>
            <h3 class="title"> <%= blog.title %></h3>
            <p class="snippet"> <%= blog.snippet %></p>
        <% })%>
        <% } else {%>
            <p>There are no blogs to display... </p>
            <% }%>
    </div>
</body>

</html>